
<div class="container">
  <div class="d-flex justify-content-between mb-3 mt-3">
    <div class="d-flex align-items-center">
      <h1 class="mr-3">Build your team</h1>
      <h2 id="counter"></h2>
    </div>
    <%= link_to new_gig_path,
      method: :get,
      id: 'create-btn',
      class: 'btn-rainbow' do %>
      Create
    <% end %>
  </div>

  <div class="row" id="card-container">
    <% @students.sample(42).each do |student| %>
      <div class="col col-12 col-md-6 col-lg-4">
        <div class="card-product position-relative" data-student-id=<%= student.id %>>
            <%= image_tag student.picture_url, alt: "", class: "rounded"%>
            <div class="card-product-infos d-flex flex-column flex-grow-1 justify-content-between">
              <div class="d-flex justify-content-between align-items-top">
                <h2><%= student.name %></h2>
                <%= link_to student_path(student.id), method: :get, class: '' do %>
                  <i class="far fa-eye ml-3 pr-3"></i>
                <% end %>
              </div>
              <p class="text-muted">Batch #<%= student.batch %></p>
              <p>
                <% student.skills.each do |skill| %>
                  <span class="badge rounded-pill bg-light lighter-text"><%= skill.name %></span>
                <% end %>
              </p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
