<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.businessload.com/wp-content/uploads/2018/04/pexels-photo-380768.jpeg)">
    <div class="container">
    <h1>Pick Your Dates</h1>
      <div class="d-flex justify-content-center dates-selection mt-5">
        <%# <%= form_tag root_path(starts_at: params[:starts_at], ends_at: params[:ends_at]), method: :get do %>
        <%= form_tag root_path, method: :get do %>
        <div class="form-inline">
        <%# <%= label_tag 'Starts' %>
          <%= date_field_tag :starts_at,
            params[:starts_at],
            class: "form-control "
          %>
          <%= date_field_tag :ends_at,
            params[:ends_at],
            class: "form-control ml-3"
          %>
          <%= button_tag 'Go',
            class: 'form-control ml-3'
          %>
        </div>
          <%# <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
        <%# <%= form_for(@gig) do |f| %>
          <%# <%= f.date_field :starts_at, min: Date.today %>
        <%# <% end %>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-3 mt-3">
    <div class="d-flex align-items-center">
      <h1 class="mr-3">Pick your team</h1>
      <h2 id="counter"></h2>
    </div>
    <%= link_to new_gig_path,
      method: :get,
      id: 'create-btn',
      class: 'btn-rainbow' do %>
      Create
    <% end %>
  </div>
</div>

<%= render 'shared/students', students: @students %>
